
<div class="container">
	<input placeholder="{{term}}" id="search-box"></input>
	<button type="button"  id="search-btn" class="badge-or-button"><span class="fas fa-search"></span></button>
	<span class="float-right">
		<span>Currently filtered to 2000 study participants and 1000 variables</span>
		<button type="button" id="download-cart-button" class="badge-or-button">
			<span class="fas fa-cart-arrow-down"> Prepare Export</span>
		</button>
		<button type="button" id="participant-count-button" class="badge-or-button">
			<span class="fas fa-user-injured"> Adjust Filters</span>
		</button>		
	</span>
</div>
<div id="results"></div>